<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="system.serviceModel" type="CoreWCF.ConfigurationManager.Client.ServiceModelSectionGroup, CoreWCF.ConfigurationManager.Client">
      <section name="client" type="CoreWCF.ConfigurationManager.Client.ClientSection, CoreWCF.ConfigurationManager.Client" />
      <section name="bindings" type="CoreWCF.ConfigurationManager.Client.BindingsSection, CoreWCF.ConfigurationManager.Client" />
    </sectionGroup>
  </configSections>
</configuration>
